{% extends 'aplicacion/base.html' %}
{% load static %}


{% block encabezado %}
    Home
{% endblock encabezado %}
    


{% block contenido %}
<h1>Bienvenidos a la primera pagina de la aplicacion! </h1>

<h2>Acerca del autor:</h2>

   <h3>Mi nombre es Filia Villanera, tengo 33 años, soy un ingeniero industrial 
    venezolano actualmente viviendo en EEUU, me gusta mucho la tecnología
    y estoy pensando en seguir ampliando conocimientos en este extenso 
    mundo de la programación, muchas gracias.</h3> 


{% endblock contenido %}
    

    
   
